@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Syne:wght@400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html,
body {
  position: relative;
  height: 100%;
  font-family: "Syne", sans-serif !important;
  background: #ebf5ec;
}

.swiper-wrapper {
  position: relative !important;
}
.swiper {
  width: 100%;
  height: 82%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(18, 24, 32, 0.8);
  /* background-color: rgba(68, 214, 170, 0.521); */
}
.text_wrapper {
  position: absolute;
  z-index: 9;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 35px;
}
.text_wrapper .Services {
  font-size: 56px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: #fff;
}
.Enterprise {
  font-family: "Satisfy", cursive;
  color: #f6d70ef0;
  font-size: 40px;
  font-weight: 700;
}
.header {
  transition: 0.4s ease-in-out;
  background: #ebf5ec;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 10px rgb(126, 121, 121);
}
.logo_wrapper {
  height: 59px !important;
  width: 130px !important;
}
.logo_wrapper img {
  width: 100%;
  height: 100%;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
nav > ul > li > a {
  text-decoration: none;
  color: #42987a;
  margin-left: 15px;
  font-weight: 600 !important;
  padding: 28px 5px;
}
.subMenu_wrapper {
  position: relative;
}
.subMenu {
  top: 50px;
  left: 15px;
  position: absolute;
  width: 500px;
  background: #42987a;
  z-index: 99;
  border-top: 4px solid #f6d70ef0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  transform: translateY(20px);
}
.subMenu_wrapper:hover .subMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.subMenu li {
  list-style: none;
  margin-top: 4px;
  transition: 0.3s ease-in-out;
}

.subMenu_wrapper .fa-angle-down{
  transition: 0.4s ease-in-out;
}
.subMenu_wrapper:hover .fa-angle-down {
  transform: rotate(-180deg);
}

.subMenu li a {
  color: #ffffff;
  text-decoration: none;
  padding: 6px 14px;
  transition: 0.3s ease-in-out;
}
.subMenu li a.active,
.subMenu li:hover a {
  color: #f6d70ef0;
}

.user_logon {
  padding: 5px 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: 0.4s ease-in-out;
  font-weight: 500;
  color: #ffffff;
  background: #57ba98;
}
.login{
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.279), -7px -7px 12px rgba(0, 0, 0, 0.279);

}
.user_logon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #00569cc7;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.all_btn{
  border: none;
  padding: 6px 13px;
  max-width: 100px;
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700 !important;
  letter-spacing: 1px;
  background: #42987a;
}
.user_logon:hover.user_logon::after {
  width: 100%;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #42987a !important;
  outline: 0;
  box-shadow: initial !important;
}
.user_logon:hover {
  color: #fff;
}

.ai_bg {
  background: #ebf5ec;
}
.card_wrapper {
  background: #ebf5ec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.183);
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.card_wrapper:hover {
  transform: translateY(-10px);
}
.card_text ul li {
  font-size: 14px;
}
.image {
  height: 450px;
  max-width: 500px;
  width: 100%;
}
.image img {
  width: 100%;
  height: 100%;
}

.heading {
  font-weight: 600 !important;
  color: #57ba98 !important;
  font-family: "Satisfy", cursive;
  position: relative;
  display: inline-block !important;
  z-index: 1;
}
.heading::after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0;
  height: 7%;
  width: 20%;
  background: #f6d70ef0;
  z-index: -1;
}
.cursor {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #42987a;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  height: 6px;
  width: 6px;
  background: #f6d70ef0;
  border-radius: 50%;
}

.marquee-container {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.marquee-content {
  position: absolute;
  width: 100%;
  /* animation: marqueeAnimation 5s linear infinite alternate; */
}
/* @keyframes marqueeAnimation {
  0% { top: 100%; }
  50% { top: 0; }
  100% { top: 100%; }
} */

.inner_shado{
   background-color: #42987a !important;
   border: none !important;
   color: #ffffff !important;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.279), -7px -7px 12px rgba(0, 0, 0, 0.279);
  /* box-shadow: inset -7px -7px 12px rgba(255, 255, 255, 0.9), inset 7px 7px 12px rgba(0, 0, 0, 0.4); */
}
::placeholder{
  color: #ffffff !important;
}
.inner_shado:focus{
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.279), -7px -7px 12px rgba(0, 0, 0, 0.279) !important;
}
.contact_wrapper{
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.132), -7px -7px 12px rgba(0, 0, 0, 0.132) !important;
}
